// NOTE: you can overwrite it for your miniprogram

// Case 1: generate.appWxss = 'default'
// @use './app-reset/app' as app;
// @use './app-reset/app.extra' as app-extra;

// Case 2: generate.appWxss = 'display'
// @use './app-reset/app.display' as app-display;

@use './mp-components';

.miniprogram-root {
  .for-web {
    display: none;
  }
}

.h5-ul,
.h5-li {
  margin: 0;
  padding: 0;
}

.h5-img {
  max-width: 100%;
}

.h5-code[class*='language-'],
.h5-pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

.h5-pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(.h5-pre) > .h5-code[class*='language-'],
.h5-pre[class*='language-'] {
  background: #2d2d2d;
}
