@use '../global/index' as global;

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: global.$theme-bgcolor;
  color: global.$text-primary-color;
  font-size: global.$font-size-m;
}

.main-body {
  flex: 1;
  overflow: hidden;
}

.main-content {
  height: 100%;
  overflow-y: auto;
}

.main-nav {
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-top: 1px solid gray;

  a {
    display: block;
  }

  .router-link-active {
    color: red;
    font-weight: bold;
  }
}
