@use '../global/index' as global;

body {
  margin: 0;
}

.container {
  background-color: global.$theme-bgcolor;
  color: global.$text-primary-color;
  font-size: global.$font-size-m;
}

.main-content {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
