@use '../global';

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: global.$theme-bgcolor;
  color: global.$text-primary-color;
  font-size: global.$font-size-m;
}

.main-body {
  flex: 1;
  overflow: hidden;
}

.main-content {
  height: 100%;
  overflow-y: auto;
}

@media only screen and (min-width: 450px) {
  .main-body {
    padding-left: 60px;
  }
}
