.wx-swiper {
  background-color: #bbb;
}

.wx-swiper-item-view {
  display: block;
  line-height: 150px;
  height: 150px;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.wx-swiper-item-view-1 {
  background-color: #1aad19;
  color: #fff;
}

.wx-swiper-item-view-2 {
  background-color: #2782d7;
  color: #fff;
}

.wx-swiper-item-view-3 {
  background-color: #f1f1f1;
  color: #353535;
}

.wx-swiper-item-view-4 {
  background-color: #5bc0de;
  color: #fff;
}

.wx-swiper-item-view-5 {
  background-color: #f0ad4e;
  color: #fff;
}

.wx-swiper-item-view-6 {
  background-color: #d9534f;
  color: #fff;
}
