.wx-picker-view-column {
  .item {
    line-height: 50px;
    text-align: center;
  }

  .icon-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 25px;
    height: 25px;
  }
}
