.wx-movable-area {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  background-color: #ccc;
  overflow: hidden;
  z-index: 0;
}

.wx-movable-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: #1aad19;
  color: #fff;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
