/// 自定义 top-status-bar 需重置 `.weui-toptips`
$topStatusBarHeight: 64px;
$top: 8px + $topStatusBarHeight;

.weui-toptips {
  top: $top;
  z-index: 3;
  transform: translateZ(0) translateY(#{'calc(-100% - ' + $top + ')'});

  &.weui-toptips_show {
    transform: translateZ(0) translateY(0);
  }
}
